@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);
@import "@mantine/core/styles.layer.css";
@import '@mantine/dropzone/styles.layer.css';
@import 'mantine-contextmenu/styles.layer.css';

@layer theme, components, utilities, mantine, mantine-contextmenu;

@theme {
    --font-nunito: 'Nunito', "sans-serif";
    --animate-bounce-right: bounce-right 2s ease-in-out infinite;

    @keyframes bounce-right {
        0%, 100% {
            transform: translateX(0);
        }
        50% {
            transform: translateX(5px);
        }
    }

}