@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";

@theme {
    --font-nunito: 'Nunito', "sans-serif";
    --animate-bounce-right: bounce-right 2s ease-in-out infinite;

    @keyframes bounce-right {
        0%, 100% {
            transform: translateX(0);
        }
        50% {
            transform: translateX(5px);
        }
    }

}